<p>
  <label><%= l(:avatar_server_url) %></label>
  <%= text_field_tag 'settings[avatar_server_url]', @settings[:avatar_server_url] %>
  <em class="info"><%= l(:label_example) %>: https://www.gravatar.com/avatar</em>
</p>
